# https://dart.dev/tools/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages
pubspec.lock

# Build & packages
build/
.packages

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDE & editors
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

# Coverage
coverage/
doc/api/
